<h1>Popis svih korisnika</h1>
<table class="table table-bordered" *ngIf="users">
    <tr>
        <th></th>
        <th>Email</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Telefonski broj</th>
        <th>Uloga</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>
            <a [routerLink]="['update', user.UserId]">
                <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
            </a>
        </td>
        <td>
            <a [routerLink]="user.UserId">{{user.Email}}</a>
        </td>
        <td>
            {{user.FirstName}}
        </td>
        <td>
            {{user.LastName}}
        </td>
        <td>
            {{user.PhoneNumber}}
        </td>
        <td>
            {{roleService.roles[user.RoleId - 1]?.Name | role}}
        </td>
    </tr>
</table>