<h1>Sjednica {{meeting.Number}}</h1>
<h2>Prisutnost i glasanje po točkama dnevnog reda</h2>
<table class="table table-bordered">
    <tr>
        <th rowspan="2">Točke</th>
        <th colspan="4">Glasanje</th>
        <th rowspan="2">Prisutnih</th>
        <th rowspan="2">Odsutnih članova vijeća</th>
    </tr>
    <tr>
        <td>PROTIV</td>
        <td>SUZDRŽAN</td>
        <td>ZA</td>
        <td>UKUPNO</td>
    </tr>
    <tr *ngFor="let agendaItem of meeting.AgendaItems">
        <td>Točka {{agendaItem.Number}}</td>
        <td>{{viewVotes(agendaItem.AgendaItemId)?.VotesAgainst}}</td>
        <td>{{viewVotes(agendaItem.AgendaItemId)?.VotesAbstain}}</td>
        <td>{{viewVotes(agendaItem.AgendaItemId)?.VotesFor}}</td>
        <td>{{totalVotes(agendaItem.AgendaItemId)}}</td>
        <td>{{presence}}</td>
        <td>{{absence}}</td>
    </tr>
</table>