<h1>Sjednice</h1>
<table class="table table-bordered" *ngIf="meetings">
    <tr>
        <th>Broj sjednice</th>
        <th>Adresa</th>
        <th>Datum</th>
        <th>Vrsta sjednice</th>
        <th></th>
    </tr>
    <tr *ngFor="let meeting of meetings">
        <td>
            <span *ngIf="!authenticationService.isAdmin()">
                <a [routerLink]="[meeting.MeetingId]">
                    {{meeting.Number}}. sjednica
                </a>
            </span>
            <span *ngIf="authenticationService.isAdmin()">
                <span *ngIf="meeting.TypeId === 1">
                    <a [routerLink]="[meeting.MeetingId]">
                        {{meeting.Number}}. sjednica
                    </a>
                </span>
                <span *ngIf="meeting.TypeId !== 1">
                    <span *ngIf="isToday(meeting.DateTime) && isPassed(meeting.DateTime)">
                        <span *ngIf="ifPresenceAdded(meeting.MeetingId) !== undefined">
                            <span *ngIf="ifPresenceAdded(meeting.MeetingId)">
                                <a [routerLink]="[meeting.MeetingId]">
                                    {{meeting.Number}}. sjednica
                                </a>
                            </span>
                            <span *ngIf="!ifPresenceAdded(meeting.MeetingId)">
                                <a [routerLink]="[meeting.MeetingId, 'presence']">
                                    {{meeting.Number}}. sjednica
                                </a>
                            </span>
                        </span>
                    </span>
                    <span *ngIf="!isToday(meeting.DateTime) || !isPassed(meeting.DateTime)">
                        <a [routerLink]="[meeting.MeetingId]">
                            {{meeting.Number}}. sjednica
                        </a>
                    </span>
                </span>
            </span>
        </td>
        <td>{{meeting.Address}}</td>
        <td>{{meeting.DateTime | date: 'd. M. y., HH:mm'}} <span style="color: red; font-weight: bold;" *ngIf="isToday(meeting.DateTime)">(danas)</span></td>
        <td>{{typeService.types[meeting.TypeId - 1]?.Name | meetingType}}</td>
        <td>
            <a *ngIf="isPassed(meeting.DateTime)" [routerLink]="[meeting.MeetingId, 'votes']">
                Pogledaj rezultate glasanja
            </a>
        </td>
    </tr>
</table>