<h1>Sjednice</h1>
<table class="table table-bordered" *ngIf="meetings">
    <tr>
        <th>Broj sjednice</th>
        <th>Adresa</th>
        <th>Datum</th>
        <th>Vrsta sjednice</th>
        <th></th>
    </tr>
    <tr *ngFor="let meeting of meetings">
        <td>
            <a [routerLink]="[meeting.MeetingId]">{{meeting.Number}}. sjednica</a>
        </td>
        <td>{{meeting.Address}}</td>
        <td>{{meeting.DateTime | date: 'd. M. y., HH:mm'}} <span style="color: red; font-weight: bold;" *ngIf="isToday(meeting.DateTime)">(danas)</span></td>
        <td>{{typeService.types[meeting.TypeId - 1]?.Name | meetingType}}</td>
        <td>
            <a *ngIf="isPassed(meeting.DateTime)" [routerLink]="[meeting.MeetingId, 'votes']">
                Pogledaj rezultate glasanja
            </a>
        </td>
    </tr>
</table>