<div class="col-md-offset-2 col-md-4">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" >
    <div class="form-group" [ngClass]="{'has-error': email.touched && email.invalid, 'has-success': email.touched && email.valid}">
      <label for="email" class="control-label">E-mail adresa</label>
      <span class="error help-block" *ngIf="email.touched && email.invalid">{{getWarningMessage("required")}}</span>
      <input type="email" class="form-control" id="email" formControlName="email" name="email" placeholder="Email">
    </div>
    <div class="form-group" [ngClass]="{'has-error': password.touched && password.invalid, 'has-success': password.touched && password.valid}">
      <label for="password" class="control-label">Lozinka</label>
      <span class="error help-block" *ngIf="password.touched && password.invalid">{{getWarningMessage("required")}}</span>
      <input type="password" class="form-control" id="password" formControlName="password" name="password" placeholder="Lozinka">
    </div>
    <button type="submit" class="btn btn-default" [disabled]="loginForm.invalid">Prijavi se</button>
  </form>
</div>