<h1>Uređivanje korisnikovih podataka</h1>
<div class="col-md-8">
    <!-- form for current user, who can change password only -->
    <form autocomplete="off" [formGroup]="userForm" *ngIf="isThisCurrentUserProfile" (ngSubmit)="updateUserUser()">
        <div class="form-group" [ngClass]="{'has-error': oldPassword.touched && oldPassword.invalid, 'has-success': oldPassword.touched && oldPassword.valid}">
            <label class="control-label" for="oldPassword">Stara lozinka</label>
            <span class="help-block error" *ngIf="oldPassword.touched && oldPassword.invalid">{{getWarningMessageCurrentUser("required")}}</span>
            <input class="form-control" formControlName="oldPassword" id="oldPassword" type="password">
        </div>
        <div class="form-group" [ngClass]="{'has-error': newPassword.touched && newPassword.invalid, 'has-success': newPassword.touched && newPassword.valid}">
            <label class="control-label" for="newPassword">Nova lozinka</label>
            <span class="help-block error" *ngIf="newPassword.touched && newPassword.hasError('required')">{{getWarningMessageCurrentUser("required")}} &nbsp;</span>
            <span class="help-block error" *ngIf="newPassword.touched && newPassword.hasError('minlength')">{{getWarningMessageCurrentUser("new-password-minlength")}} &nbsp;</span>
            <span class="help-block error" *ngIf="newPassword.touched && newPassword.hasError('pattern')">{{getWarningMessageCurrentUser("new-password-pattern")}} &nbsp;</span>
            <input class="form-control" formControlName="newPassword" id="newPassword" type="password">
        </div>
        <div class="form-group" [ngClass]="{'has-error': newPassword2.touched && (newPassword2.invalid || userForm.hasError('notEqual')), 'has-success': newPassword2.touched && (newPassword2.valid && !userForm.hasError('notEqual'))}">
            <label class="control-label" for="newPassword2">Ponovno upišite novu lozinku</label>
            <span class="help-block error" *ngIf="newPassword2.touched && newPassword2.hasError('required')">{{getWarningMessageCurrentUser("required")}}</span>
            <span class="help-block error" *ngIf="newPassword2.touched && userForm.hasError('notEqual')">{{getWarningMessageCurrentUser("new-passwords-not-equal")}}</span>
            <input class="form-control" formControlName="newPassword2" id="newPassword2" type="password">
        </div>
        <button class="btn btn-default" [disabled]="userForm.invalid" type="submit">Promijeni lozinku</button>
    </form>
    <!-- form for admin, who can change any user data -->
    <form autocomplete="off" [formGroup]="userForm" *ngIf="!isThisCurrentUserProfile" (ngSubmit)="updateUserAdmin()">
        <div class="form-group" [ngClass]="{'has-error': firstName.invalid, 'has-success': firstName.valid}">
            <label class="control-label" for="firstName">Ime</label>
            <span class="help-block error" *ngIf="firstName.invalid">{{getWarningMessage("required")}}</span>
            <input class="form-control" formControlName="firstName" id="firstName" type="text">
        </div>
        <div class="form-group" [ngClass]="{'has-error': lastName.invalid, 'has-success': lastName.valid}">
            <label class="control-label" for="lastName">Prezime</label>
            <span class="help-block error" *ngIf="lastName.invalid">{{getWarningMessage("required")}}</span>
            <input class="form-control" formControlName="lastName" id="lastName" type="text">
        </div>
        <div class="form-group" [ngClass]="{'has-error': email.invalid, 'has-success': email.valid}">
            <label class="control-label" for="email">E-mail</label>
            <span class="help-block error" *ngIf="email.hasError('required')">{{getWarningMessage("required")}} &nbsp;</span>
            <span class="help-block error" *ngIf="email.hasError('pattern')">{{getWarningMessage("invalid-email")}} &nbsp;</span>
            <input class="form-control" formControlName="email" id="email" type="email">
        </div>
        <div class="form-group" [ngClass]="{'has-error': phoneNumber.invalid, 'has-success': phoneNumber.valid}">
            <label class="control-label" for="phoneNumber">Telefonski broj</label>
            <span class="help-block error" *ngIf="phoneNumber.hasError('pattern')">{{getWarningMessage("invalid-phone-number")}}</span>
            <input class="form-control" formControlName="phoneNumber" id="phoneNumber" type="text">
        </div>
        <div class="form-group has-success">
            <label class="control-label" for="password">Lozinka</label>
            <input class="form-control" formControlName="password" id="password" type="password">
            <span>
                <button class="btn btn-link" (click)="changeUserPassword(true)" *ngIf="password.value === '00000000'" type="button">
                    promijeni lozinku
                </button>
                <button class="btn btn-link" (click)="changeUserPassword(false)" *ngIf="password.value !== '00000000'" type="button">
                    poništi promjenu lozinke
                </button>
            </span>
        </div>
        <div class="form-group has-success">
            <label class="control-label" for="roleId">Uloga</label>
            <select class="form-control" formControlName="roleId" id="roleId">
                <option *ngFor="let role of roleService.roles" [value]="role.RoleId">{{role.Name | role}}</option>
            </select>
        </div>
        <button class="btn btn-default" [disabled]="userForm.invalid || !userDataChanged()" type="submit">Spremi promjene</button>
    </form>
</div>