<h1 *ngIf="!isThisCurrentUserProfile">Podaci korisnika {{user.Email}}</h1>
<h1 *ngIf="isThisCurrentUserProfile">Vaši podaci</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            <tr>
                <td>Ime</td>
                <td>{{user.FirstName}}</td>
            </tr>
            <tr>
                <td>Prezime</td>
                <td>{{user.LastName}}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>{{user.Email}}</td>
            </tr>
            <tr>
                <td>Telefonski broj</td>
                <td>{{user.PhoneNumber}}</td>
            </tr>
            <tr>
                <td>Lozinka <span *ngIf="isThisCurrentUserProfile">(<a routerLink="../update/me">Promijeni lozinku</a>)</span></td>
                <td>**********</td>
            </tr>
            <tr>
                <td>Uloga</td>
                <td>{{roleService.roles[user.RoleId - 1]?.Name | role}}</td>
            </tr>
            <tr *ngIf="user.CouncilMemberships.length > 0">
                <td>Član vijeća</td>
                <td>
                    <p>
                        <span *ngIf="isPermanentCouncilMember()">stalan član vijeća od</span>
                        {{user.CouncilMemberships[0].StartDate | date: 'd. M. y.'}}
                        <span *ngIf="!isPermanentCouncilMember()"> - {{user.CouncilMemberships[0].EndDate | date: 'd. M. y.'}}</span>
                        <span *ngIf="isCouncilMember()">(trenutni član vijeća)</span>
                    </p>
                    <p *ngFor="let date of user.CouncilMemberships.slice(1)">
                        {{date.StartDate | date: 'd. M. y.'}} - {{date.EndDate | date: 'd. M. y.'}}
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>
