<h1>Izrada korisnika</h1>
<div class="col-md-8">
    <form autocomplete="off" [formGroup]="userForm" (ngSubmit)="createUser()">
        <div class="form-group" [ngClass]="{'has-error': firstName.touched && firstName.invalid, 'has-success': firstName.touched && firstName.valid}">
            <label class="control-label" for="firstName">Ime</label>
            <span class="help-block error" *ngIf="firstName.touched && firstName.invalid">
                {{getWarningMessage("required")}}
            </span>
            <input class="form-control" formControlName="firstName" id="firstName" type="text">
        </div>
        <div class="form-group" [ngClass]="{'has-error': lastName.touched && lastName.invalid, 'has-success': lastName.touched && lastName.valid}">
            <label class="control-label" for="lastName">Prezime</label>
            <span class="help-block error" *ngIf="lastName.touched && lastName.invalid">
                {{getWarningMessage("required")}}
            </span>
            <input class="form-control" formControlName="lastName" id="lastName" type="text">
        </div>
        <div class="form-group" [ngClass]="{'has-error': email.touched && email.invalid, 'has-success': email.touched && email.valid}">
            <label class="control-label" for="email">E-mail</label>
            <span class="help-block error" *ngIf="email.touched && email.hasError('required')">
                {{getWarningMessage("required")}} &nbsp;
            </span>
            <span class="help-block error" *ngIf="email.touched && email.hasError('pattern')">
                {{getWarningMessage("invalid-email")}} &nbsp;
            </span>
            <input class="form-control" formControlName="email" id="email" type="email">
        </div>
        <div class="form-group" [ngClass]="{'has-error': phoneNumber.touched && phoneNumber.invalid, 'has-success': phoneNumber.touched && phoneNumber.valid}">
            <label class="control-label" for="phoneNumber">Telefonski broj</label>
            <span class="help-block error" *ngIf="phoneNumber.touched && phoneNumber.hasError('pattern')">
                {{getWarningMessage("invalid-phone-number")}}
            </span>
            <input class="form-control" formControlName="phoneNumber" id="phoneNumber" type="text">
        </div>
        <div class="form-group has-success">
            <label for="password">Lozinka</label>
            <input class="form-control" formControlName="password" id="password" type="password">
        </div>
        <div class="form-group has-success">
            <label class="control-label" for="roleId">Uloga</label>
            <select class="form-control" formControlName="roleId" id="roleId">
                <option *ngFor="let role of roleService.roles" [value]="role.RoleId">{{role.Name | role}}</option>
            </select>
        </div>
        <button class="btn btn-default" [disabled]="userForm.invalid" type="submit">Izradi</button>
    </form>
</div>